@model IEnumerable<Micraft.ManeGrowAgro.Models.RegionMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-lg-2 col-md-2 col-12">
                <h5 class="text-dark mr-2"><b>Region Master</b></h5>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped table-bordered dt-responsive" style="width:100%;">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th>Region</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--/. col -->

        </div>
        <!--/. row -->
        <!--Add New Modal-->
        <div class="modal" id="AddNewModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Region</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Region</label>
                                    <input type="text" id="Region" class="form-control" placeholder="Region">
                                </div>

                                <!--/. col -->
                            </div>
                            <!--/. row -->
                            <div class="col-12 text-center mb-3">
                                <button class="btn btn-primary" type="button">Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                            <!--/. col -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--View Modal-->
        <div class="modal" id="EditModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Region</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Region</label>
                                    <input type="text" id="Region" class="form-control" placeholder="Region">
                                </div>

                               
                            </div>
                            <!--/. row -->
                            <div class="col-12 text-center mb-3">
                                <button class="btn btn-primary" type="button">Update</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                            <!--/. col -->
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--View Modal-->
    <div class="modal" id="ShowModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">View Region</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label>Region</label>
                                <input type="text" id="Region" class="form-control" placeholder="Region">
                            </div>

                        </div>
                        <!--/. row -->
                        <div class="col-12 text-center mb-3">
                            <button class="btn btn-primary" type="button">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                        <!--/. col -->
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    $(document).ready(function () {

        var tEMP = '@TempData["success"]';
        if (tEMP != "" && tEMP != undefined && tEMP != null) {
            swal("Success!", tEMP, "success");
        }
        var tEMP = '@TempData["error"]';
        if (tEMP != "" && tEMP != undefined && tEMP != null) {
            swal("Error!", tEMP, "error");
        }


        try {

            $('#example').DataTable({
                "paging": true,
                "searching": true,
                dom: 'Bfrtip',
                "bServerSide": true,
                "sAjaxSource": '@Url.Action("GetData", "RegionMasters")',
                "sServerMethod": "POST",
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print',
                    {
                        text: 'Add New',
                        action: function (e, dt, node, config) {

                            window.location.href = '/RegionMasters/Create'
                        }
                    },

                ],
                language: {
                    searchPlaceholder: "Search",
                    search: ""
                },
                "aoColumns": [
                    {
                        "mData": "Region"
                    },

                    {
                        "mData": function (o) {
                            return "<div class = 'd-flex justify-content-center'><button type='button' id=" + o.ID + " class='btn btn-primary btn-sm mr-2' onclick='Show(this.id);'><i class='fa fa-eye'></i></button><button type='button' id=" + o.ID + " class='btn btn-primary btn-sm mr-2' onclick='Edit(this.id);'><i class='fa fa-edit'></i></button><button type='button' id=" + o.ID + " onclick='Delete(this.id);' class='btn btn-danger btn-sm'><i class='fas fa-trash'></i></button></div>"
                        }
                    },
                ],
            });
        }
        catch (e) {
        }



        $("#txtFromDate").change(function (e) {
            var table = $('#example').DataTable();
            table.ajax.reload(function (json) {
            });
        });
        $("#txtToDate").change(function (e) {
            var table = $('#example').DataTable();
            table.ajax.reload(function (json) {
            });
        });

        $("#CompoundNo").change(function (e) {
            var table = $('#example').DataTable();
            table.ajax.reload(function (json) {
            });
        });
    });
    function Delete(id) {
        console.log(id);
    }
    function Edit(id) {
        window.location.href = '/RegionMasters/Edit/'+ id
    }
    function Show(id) {
        $("#ShowModal").modal("show");
    }


    function Delete(id) {
        debugger;
        if (confirm("Are you sure you want to delete this record?")) {
            $.ajax({
                url: '/RegionMasters/DeleteConfirmed',
                type: "GET",
                dataType: "JSON",
                data: { id: id },
                success: function (result) {
                    if (result.Message == "success") {
                        swal("Success", "Record Delete Successfully", "success");
                        window.location.href = "/RegionMasters/Index";
                    } else {
                        toastr.error(result.Message);
                    }
                },
                error: function (ex) {
                    console.log("error");
                    console.log(ex);
                }
            });
        } else {

            false;
        }

    }


</script>