@model IEnumerable<Micraft.ManeGrowAgro.Models.DepartmentMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-lg-2 col-md-2 col-12">
                <h5 class="text-dark mr-2"><b>Department</b></h5>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped table-bordered dt-responsive" style="width:100%;">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th>Department</th>
                                        <th>IsActive</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--/. col -->

        </div>
        <!--/. row -->
        <!--Add New Modal-->
        <div class="modal" id="AddNewModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Department </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                            <div class="row">

                                <div class="col-12 mb-3">
                                    <label>Department</label>
                                    <input type="text" id="Department" class="form-control" placeholder="Department">
                                </div>
                                <!--/. col -->
                                <div class="col-12 mb-3">
                                    <label>IsActive</label><br>
                                    <label class="switch">
                                        <input type="checkbox" checked id="IsActive">
                                        <span class="slider round"></span>
                                    </label>

                                </div>
                                <!--/. col -->
                            </div>
                            <!--/. row -->
                            <div class="col-12 text-center mb-3">
                                <button class="btn btn-primary" type="button" id="AddNew">Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                            <!--/. col -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--View Modal-->
        <div class="modal" id="EditModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Department </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <input type="hidden" id="ID" />

                                <div class="col-12 mb-3">
                                    <label>Department</label>
                                    <input type="text" id="eDepartment" class="form-control" placeholder="Department">
                                </div>
                                <!--/. col -->
                                <div class="col-12 mb-3">
                                    <label>IsActive</label><br>
                                    <label class="switch">
                                        <input type="checkbox" checked id="eIsActive">
                                        <span class="slider round"></span>
                                    </label>

                                </div>
                                <!--/. col -->
                            </div>
                            <!--/. row -->
                            <div class="col-12 text-center mb-3">
                                <button class="btn btn-primary" type="button" id="Update">Update</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                            <!--/. col -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- /.container-fluid -->
</section>
<script>
    $(document).ready(function () {

        var tEMP = '@TempData["success"]';
        if (tEMP != "" && tEMP != undefined && tEMP != null) {
            swal("Success!", tEMP, "success");
        }
        var tEMP = '@TempData["error"]';
        if (tEMP != "" && tEMP != undefined && tEMP != null) {
            swal("Error!", tEMP, "error");
        }


        try {
            $('#example').DataTable({
                "paging": true,
                "searching": true,
                dom: 'Bfrtip',
                "bServerSide": true,
                "sAjaxSource": '@Url.Action("GetData", "DepartmentMasters")',
                "sServerMethod": "POST",
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print',
                    {
                        text: 'Add New',
                        action: function (e, dt, node, config) {

                            window.location.href = '/DepartmentMasters/Create'
                        }
                    },

                ],
                language: {
                    searchPlaceholder: "Search",
                    search: ""
                },
                "aoColumns": [
                    {
                        "mData": "Department"
                    },
                    {
                        "mData": "IsActive"
                    },
                    {
                        "mData": function (o) {
                            return "<div class = 'd-flex justify-content-center'><button type='button' id=" + o.ID + " class='btn btn-primary btn-sm mr-2' onclick='Edit(this.id);'><i class='fa fa-edit'></i></button><button type='button' id=" + o.ID + " onclick='Delete(this.id);' class='btn btn-danger btn-sm'><i class='fas fa-trash'></i></button></div>"
                        }
                    },
                ],
            });
        }
        catch (e) {
        }
    });



    function Edit(id) {
        window.location.href = "/DepartmentMasters/Edit/" + id;
    }



//$("#AddNew").click(function () {
        //    var Type = $("#Department").val();
        //    var IsActive = true;
        //    if ($('#IsActive').is(":checked")) {
        //        IsActive = true;
        //    } else {
        //        IsActive = false;
        //    }

        //    if (Type == null || Type == "") {
        //        swal("Error", "Department is required", "error");
        //        return;
        //    }

        //    var records = {
        //        "Department": Type,
        //        "IsActive": IsActive
        //    };
        //    $.ajax({
        //        url: "/DepartmentMasters/AddRecord",
        //        type: "POST",
        //        dataType: "json",
        //        data: JSON.stringify(records),
        //        contentType: "Application/json",
        //        success: function (data) {
        //            //swal("Success", "Record Added Success", "success");
        //            RefreshData();
        //            if (data == 1) {
        //                swal("Success", "Record Added Success", "success");
        //                RefreshData();
        //                $("#AddNewModal").modal("hide");
        //            } else {
        //                swal("Error", "Something went wrong while adding record", "error");
        //            }
        //        },
        //        error: function (ex) {
        //            console.log("error");
        //            console.log(ex);
        //        }
        //    });

        //});




    //$("#Update").click(function () {
    //    var Type = $("#eDepartment").val();
    //        var IsActive = true;
    //        if ($('#eIsActive').is(":checked")) {
    //            IsActive = true;
    //        } else {
    //            IsActive = false;
    //        }

    //        if (Type == null || Type == "") {
    //            swal("Error", "Customer type is required", "error");
    //            return;
    //        }
    //    var TypeId = $("#ID").val();
    //        var records = {
    //            "Department": Type,
    //            "IsActive": IsActive,
    //            "ID": TypeId
    //        };
    //        $.ajax({
    //            url: "/DepartmentMasters/EditRecord",
    //            type: "POST",
    //            dataType: "json",
    //            data: JSON.stringify(records),
    //            contentType: "Application/json",
    //            success: function (data) {
    //                //swal("Success", "Record Added Success", "success");
    //                RefreshData();
    //                if (data == 1) {
    //                    swal("Success", "Record Updated Success", "success");
    //                    RefreshData();
    //                    $("#EditModal").modal("hide");
    //                } else {
    //                    swal("Error", "Something went wrong while updating record", "error");
    //                }
    //            },
    //            error: function (ex) {
    //                console.log("error");
    //                console.log(ex);
    //            }
    //        });
    //    });

        function RefreshData() {
            var table = $('#example').DataTable();
            table.ajax.reload(function (json) {
            });
        }



        //function Delete(id) {
        //    console.log(id);
        //}
        //function Edit(id) {
        //    debugger;
        //    window.location.href = '/DepartmentMasters/Edit/' + id,
        //    console.log(id);
        //    var TypeId = id;
        //    $("#ID").val(id);

        //    var records = {
        //        "ID": TypeId
        //    };
        //    $.ajax({
        //        url: "/DepartmentMasters/GetRecord",
        //        type: "GET",
        //        dataType: "json",
        //        data: { ID: TypeId},
        //      //  contentType: "Application/json",
        //        success: function (data) {
        //            $("#eDepartment").val(data.Department);
        //            $('#eIsActive').is(":checked") = data.IsActive;
        //            $('#ID').is(":checked") = data.ID;
        //        },
        //        error: function (ex) {
        //            console.log("error");
        //            console.log(ex);
        //        }
        //    });
        //}


    function Delete(id) {
        if (confirm("Are you sure you want to delete this record?")) {
            $.ajax({
                url: '/DepartmentMasters/DeleteConfirmed',
                type: "GET",
                dataType: "JSON",
                data: { id: id },
                success: function (result) {
                    if (result.Message == "success") {
                        swal("Success", "Record Delete Successfully", "success");
                        window.location.href = "/DepartmentMasters/Index";
                    } else {
                        toastr.error(result.Message);
                    }
                },
                error: function (ex) {
                    console.log("error");
                    console.log(ex);
                }
            });
        } else {

            false;
        }

    }

</script>

