@model IEnumerable<Micraft.ManeGrowAgro.Models.BankMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-lg-2 col-md-2 col-12">
                <h5 class="text-dark mr-2"><b>Bank Master</b></h5>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped table-bordered dt-responsive" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>
                                           Account Holder
                                        </th>
                                        <th>
                                            Account Name
                                        </th>
                                        <th>
                                            Account Number
                                        </th>
                                        <th>
                                            Bank Name
                                        </th>
                                        <th>
                                            City
                                        </th>
                                        <th>
                                            State
                                        </th>
                                        <th>
                                            MICR Code
                                        </th>
                                        <th>
                                            IFSC Code
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        var tEMP = '@TempData["success"]';
        if (tEMP != "" && tEMP != undefined && tEMP != null) {
            swal("Success!", tEMP, "success");
        }
        var tEMP = '@TempData["error"]';
        if (tEMP != "" && tEMP != undefined && tEMP != null) {
            swal("Error!", tEMP, "error");
        }

         try {

            $('#example').DataTable({
                paging: true,
                "searching": true,
                dom: 'Bfrtip',
                "bServerSide": true,
                "sAjaxSource": '@Url.Action("GetData", "BankMasters")',
                "sServerMethod": "POST",
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print',
                    {
                        text: 'Add New',
                        action: function (e, dt, node, config) {

                            window.location.href = '/BankMasters/Create'
                        }
                    },

                ],              

                "aoColumns": [
                    {
                        "mData": "Name"
                    },
                    
                    {
                        "mData": "AccName"
                    },

                    {
                        "mData": "AccNumber"
                    },
                    {
                        "mData": "BranchName"
                    },
                    {
                        "mData": "BranchCity"
                    },
                    {
                        "mData":"BranchState"
                    },
                    {
                        "mData":"MICRCode"
                    },
                    {
                        "mData":"IFSCCode"
                    },
                    {
                        "mData": function (o) {
                            return "<div class = 'd-flex justify-content-center'><button type='button' id=" + o.ID + " class='btn btn-primary btn-sm mr-2' onclick='Edit(this.id);'><i class='fa fa-edit'></i></button><button type='button' id=" + o.ID + " onclick='Delete(this.id);' class='btn btn-danger btn-sm'><i class='fas fa-trash'></i></button></div>"
                        }
                    },
                ],
            });
        }
        catch (e) {
        }
    });

    function Edit(id) {
        window.location.href = "/BankMasters/Edit/" + id;
    }


    function Delete(id) {
        debugger;
        if (confirm("Are you sure you want to delete this record?")) {
            $.ajax({
                url: '/BankMasters/DeleteConfirmed',
                type: "GET",
                dataType: "JSON",
                data: { id: id },
                success: function (result) {
                    if (result.Message == "success") {
                        swal("Success", "Record Delete Successfully", "success");
                        window.location.href = "/BankMasters/Index";
                    } else {
                        toastr.error(result.Message);
                    }
                },
                error: function (ex) {
                    console.log("error");
                    console.log(ex);
                }
            });
        } else {
            false;
        }

    }

</script>